@media screen and (min-width: 768px ) and (max-width: 992px ) {

    body{
background-image: linear-gradient(to top, #49a09d, #5f2c82 );

    }
    
    #login{
        width: 90vw;
        display: flex;
    }
    #imagem{
  
  width: 30%;
  height: 100%;
    }
    #formulario{
        
        width: 70%;
        height: 100%;

    }
    p{
        font-size: 1.1em;
    }
}
@media screen and (min-width: 992px ) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82 );
        
            }
    #login{
        width: 990px;
        display: flex;
        flex-direction: row-reverse;
    }
    #imagem{
  width: 50%;
  height: 100%;
    }
    #formulario{
       width: 50%;
        height: 100%;

    }
    h1{
        font-size: 2em;
    }
    p{
        font-size: 1.1em;
    }
}